<!-- messages -->

<div id="card">
	<%= render "messages/time_ago", message: message %>
	<div align="center" id="message_text_padding">
		<%= link_to User.find(message.user_id).name, user_path(message.user_id) %>
		<% for word in message.text.split(' ') %>
			<%= render "posts/embed", word: word %>
		<% end %>
	</div>
</div>