<!-- messages -->

<!-- finds a message folder if one exists -->
<% if post.user != current_user and Folder.folder_between(current_user, post.user) %>
  <% folder = Folder.folder_between(current_user, post.user) %>
<% end %>


<% if current_user and post.user != current_user %>
	<% if Folder.folder_between(current_user, post.user) %>
		<%= link_to folder_path(folder), class: "btn btn-default" do %>
			<span class="glyphicon glyphicon-envelope"></span>
		<% end %>
	<% else %>
		<%= link_to new_folder_path(user_id: post.user), class: "btn btn-default" do %>
			<span class="glyphicon glyphicon-envelope"></span>
		<% end %>
	<% end %>
<% end %>
