<!-- notes -->

<li id="notes_nav_li">
	<%= link_to notes_path, title: translate("View your notifications") do %>
		<div><%= translate("Notes") %> <span class="badge">
			<%= @new_notes %>
		</span></div>
	<% end %>
</li>