<!-- notes -->

<% if current_user %>
	<% if current_user.notes.empty? %>
		<div id="card"><div align="center">
			<%= translate "You have zero notifications." %>
		</div></div>
	<% end %>

	<%= render "notes/feed" %>

	<%= render "pages/more_back", all_items: @all_items, items: @items %>
<% end %>