<!-- notes -->

<% if current_user %>
	<% if current_user.notes.empty? %>
		<div id="card"><div align="center">
			<%= translate "You have zero notifications." %>
		</div></div>
	<% end %>

	<% @notes.each do |note| %>
		<%= render "notes/card", note: note %>
	<% end %>
<% end %>

<%= render "pages/more_back", all_items: Note.all, items: @notes %>