<!-- comments -->

<% _time_ago = time_ago(time_ago_in_words(comment.created_at)) %>

<div id="card">
	<%= link_to _time_ago, comment_path(comment), id: :top_left_link %>
	
	</br><div align="center">
		<% for word in comment.text.split(" ") %>
			<%= render "posts/embed", word: word %>
		<% end %>
	</div></br>
	
	<%= render "comments/comment_link", comment: comment %>
</div>