<!-- comments -->

<% if @comment %>
	<%= render "comments/card", comment: @comment %>

	<%= render "comments/new" %>

	<% @replies.each do |reply| %>
		<%= render "comments/card", comment: reply %>
	<% end %>
<% else %>
	<div id="card">
		<div align="center">
			This comment no longer exists.
		</div>
	</div>
<% end %>