<!-- translations -->

<% if privileged? %>
	<div id="large_button">
		<%= link_to translate("Translation requests"), translation_reqs_path, class: "btn btn-default btn-lg btn-block" %>
	</div></br>

	<%= render "translations/new" %>

	<% for translation in @translations %>
		<%= render "translations/card", translation: translation %>
	<% end %>

	<%= render "pages/more_back", all_items: Translation.translated, items: @translations %>
<% end %>