<!-- search -->

<% if @no_results %>
	<div id="card">
		<div align="center"><%= @no_results %></div>
	</div>
<% else %>
	<% for result in @results %>
		<% result = result[0] unless @recent %>
		<%= render "search/result", result: result %>
	<% end %>
<% end %>

<% unless @items.size < page_size %>
	<div id="more_content_anchor"></div>
<% end %>