<!-- articles -->

<% if @advert %>
	<div id="card">
		<div align="center">
			<div id="ad_image">
				<%= link_to image_tag(@advert.image, id: :standard_post_image), @advert.hyperlink %>
			</div>
			<div id="ad_text"><%= @advert.body %></div>
		</div>
	</div>
<% end %>