<!-- articles -->

<% if @advert %>
	<div id="card">
		<div align="center">
			<div id="ad_image">
			    
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- login -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-5757850504384722"
             data-ad-slot="9784410090"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
			  
			</div>
			<div id="ad_text"><%= @advert.body %></div>
		</div>
	</div>
<% end %>
