<div id="card">
	<%= render "articles/time_ago", article: article %>
	<%= render "articles/written_by", article: article %>
	<%= render "articles/content", article: article %>
	<%= render "articles/comment_link", article: article %>
</div></br>