<!-- articles -->

<div id="card">
	<% unless defined? list_format and list_format %>
		<%= render "articles/card_links", article: article %>

		<%= render "articles/content", article: article %>
		<%= render "articles/approve_deny", article: article %>
	<% else %>
		<%= render "tabs/list_item", item: article %>
	<% end %>
</div>