<% time_ago = time_ago_in_words(article.created_at) + " ago" %>

<% if time_ago.include? "about" %>
	<% time_ago.slice! "about " %>
<% end %>

<div id="card">
	<%= link_to time_ago, article_path(article), id: :top_left_time %>
	
	<%= render "content", article: article %>
	<%= render "comment_link", article: article %>
</div></br>