<!-- articles -->

<% if has_feature? [:rank_feedback] %>
	<div id="card_feature_side_border">
		<table id="feature_links_table">
			<tr>
				<td>
					<%= render "articles/review_link", article: article %>
				</td>
			</tr>
		</table>
	</div>
<% end %>