<!-- articles -->

<% if current_user and (current_user.writer or current_user.admin) %>
	<div align="center">
		<%= button_to new_article_path, method: :get, class: "btn btn-default btn-lg" do %>
			Write an article <span class="glyphicon glyphicon-pencil"></span>
		<% end %>
	</div></br>
<% elsif current_user %>
	<div align="center">
		<%= button_to events_path, method: :get, class: "btn btn-default btn-lg" do %>
			Local Events
		<% end %>
	</div></br>
<% end %>

<% if @articles.empty? %>
	<div id="card"><p align="center">
		No articles have been published yet.
	</p></div>
<% end %>

<%= render "articles/feed" %>