<!-- articles -->

<% if current_user.writer or current_user.admin %>
	<div id="large_button">
		<%= button_to "Write an article", new_article_path, method: :get %>
	</div></br>
<% else %>
	<div id="large_button">
		<%= button_to "Plan an event", new_event_path, method: :get %>
	</div></br>
<% end %>

<% if @articles.empty? %>
	<div id="card"><p align="center">
		No articles have been published yet.
	</p></div>
<% end %>

<%= render "articles/feed" %>