<table align="center">
	<tr>
		<td>
			<% unless article.comments.empty? %>
				<%= link_to pluralize(article.comments.size, "comment"),
					article_path(article), id: :info %>
			<% else %>
				<%= link_to "Reply", post_path(post), id: :info %>
			<% end %>
		</td>
	</td>
</table>