<%= render "new_ad" %>

<% for advert in @adverts %>
	<div id="card"></br>
		<div align="center">
			<div><%= image_tag advert.image, id: :post_image %></div></br>
			<div><strong>Company: </strong><%= advert.title %></div>
			<div><strong>Zip: </strong><%= advert.zip_code %></div>
		</div>
	</div></br>
<% end %>