<!-- articles -->

<% if @articles.present? %>

	<h3 align="center">
		<%= translate("Approve tab articles") %>
	</h3></br>

	<% for article in @articles %>
		<%= render "articles/card", article: article %>
	<% end %>
	
<% else %>
	<div id="card">
		<div align="center">
			<%= translate("There aren't any articles awaiting approval right now.") %>
		</div>
	</div>
<% end %>

</br>