<div id="card">
	<%= render "content", article: @article %>
	<%= render "info", article: @article %>
</div></br>

<%= render "comments/new" %>

<% @comments.each do |comment| %>
	<div id="card">
		<p align="center"><%= comment.text %></p>
	</div></br>
<% end %>