<div id="card">
	<p align="center">Welcome, Administrator <%= current_user.name.capitalize %>.</p>
	<p align="center">Game Boards in play: <%= GameBoard.all.size %></p>
	<p align="center">Cards redeemed: <%= Card.all.size %></p>
	<p align="center">Total users: <%= User.all.size %></p>
</div>
</br>