<% if current_user.admin %>
	<%= render 'stats' %>
	
	<div id="card">
		<%= button_to "Register codes", new_code_path, method: :get %>
		<%= button_to "List codes", codes_path, method: :get %>
	</div>
<% else %>
	<p align="center">Check your privilege.</p>
<% end %>