<% if current_user.admin %>
	<%= render 'stats' %>
	
	<div id="card">
		<%= button_to "Codes", codes_path, method: :get %>
		<%= button_to "Banner", banners_path, method: :get %>
	</div>
<% else %>
	<p align="center">Check your privilege.</p>
<% end %>