<%= form_for @new_banner, html: {multipart: true, "data-ajax" => false} do |f| %>
	<div id="card">
		<p align="center"><%= translate("Upload a banner") %></p>
		<p>
			<%= f.file_field :image, class: "form-control" %>
		</p>
		<p>
			<%= f.submit translate("Upload"), class: "btn btn-default btn-lg btn-block" %>
		</p>
	</div>
	</br>
<% end %>
