<!-- groups -->

<% if group.default %>
	<div><%= link_to translate("Default Group"), group_path(group) %></div>
<% elsif @group_shown %>
	<p>
		<strong><%= "Group #{group.id}" %></strong>
	</p>
<% else %>
	<p><%= link_to "Group #{group.id}", group_path(group) %></p>
<% end %>
