<!-- groups -->

<% if master? %>
	<div id="large_button">
		<%= link_to "Create a group", new_group_path,
			class: "btn btn-default btn-lg btn-block" %>
	</div></br>
	
	<% for group in @groups %>
		<%= render "groups/card", group: group %>
	<% end %>

	<% if @groups.empty? %>
		<div id="card">
			<div align="center">
				<%= translate("There aren't any groups yet.") %>
			</div>
		</div>
	<% end %>
<% end %>
