<!-- users -->

<div id="card">
	<div align="center">
		<% if user.icon.url %>
			<div>
				<%= link_to image_tag(user.icon, size: "50x50"), user_path(user) %>
			</div></br>
		<% end %>
		<%= link_to user.name.capitalize, user_path(user) %>
	</div>
</div>