<!-- users -->

<div id="card">
	<div class="container-fluid" align="center">
		<div class="row">
			<% for image in @images %>
				<div class="col-xs-2">
					<%= link_to image_tag(image.image, size: "25x25"), gallery_path(@user.name) %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<% for post in @posts %>
	<%= render "posts/card", post: post %>
<% end %>

<%= render "pages/more_back", all_items: @user.posts, items: @posts %>