<div id="card">
	<%= render "game_boards/grid", cards: @cards %>
	
	<% if @cards.size < 1 %>
		<p align="center">You have no cards on this board.</p>
	<% end %>
</div>
</br>

<%= render 'cards/new' %>