<div id="card">
	<% if @cards.size < 1 %>
		<p align="center">You have no cards on this board.</p>
	<% end %>
	
	<%= render "game_boards/grid", cards: @cards %>
	</br>
	<table align="center">
		<tr>
			<td>
				<%= link_to "Reset", reset_path(@game_board),
					data: { confirm: 'Are you sure?' } %>
			</td>
			<td>|</td>
			<td>
				<%= link_to "Delete", destroy_board_path(@game_board),
					method: :delete, data: { confirm: 'Are you sure?' } %>
			</td>
		</tr>
	</table>
</div>
</br>

<%= render 'cards/new' %>