<!-- tournaments -->

<div id="card">
	<div align="center">
		<p><%= link_to translate("Matches") + ": #{tournament.matches.size}",
			tab_tournament_path(tournament.tab, tournament) %></p>
		<p><%= translate("Teams") %></p>
		<% for team in tournament.teams %>
			<div><%= link_to team.name, sports_team_path(team) %></div>
		<% end %>
	</div>
</div>
