<% if @tags %>
	<% @tags.each do |tag| %>
		<% if tag.post_id %>
			<% post = tag.item %>
			<%= render "posts/card", post: post %>
		<% end %>
	<% end %>
<% end %>

<% if @no_results %>
	<div id="card">
		<div align="center"><%= @no_results %></div>
	</div>
<% end %>