<!-- welcome -->

<% if all_items.present? and all_items.size > page_size %>
	<div align="center">
		<%= image_tag "loading34.gif", id: :loading_footer %>
	</div>
<% end %>

<div id="footer_spacing"></div>