<h3 align="center"><%= event.title %></h3>
<div align="center"><%= event.body %></div></br>
<div align="center"><strong>When: </strong><%= event.date %></div></br>
<div align="center"><strong>Where: </strong><%= event.location %></div></br>