<!-- events -->

<% if has_feature? [:invite_attendance, :rank_feedback] %>
	<div id="card_feature_side_border">
		<table id="feature_links_table">
			<% if has_feature? :invite_attendance %>
				<tr>
					<td class="feature_row_spacing">
						<%= link_to attendance_path(event), id: :event_going_link,
							 title: translate("See who's going to the event") do %>
							<i class="fa fa-user fa-lg"></i>
						<% end %>
					</td>
				</tr>
				<% unless event.going.empty? %>
					<tr>
						<td class="feature_row_spacing">
							<%= link_to attendance_path(event), id: :days_left_number,
								 title: translate("The number of people going to the event") do %>
								<%= event.going.size.to_s %>
							<% end %>
						</td>
					</tr>
				<% end %>
			<% end %>
			<% if has_feature? :rank_feedback %>
				<tr>
					<td>
						<%= render "events/review_link", event: event %>
					</td>
				</tr>
			<% end %>
		</table>
	</div>
<% end %>