<div align="center" id="more_button">
	<div id="large_button">
		<%= link_to(back_path, class: "btn btn-default btn-lg btn-block", title: translate("Go back to the top")) do %>
			<%= translate "Back" %>
		<% end %>
	</div>
</div>