<!-- sports teams -->

<div id="card">
	<div align="center">
		<p id="team_name_header">
			<%= @team.name %>
		</p>
		<% if @team.icon.url %>
			<div>
				<%= image_tag @team.icon, id: :team_icon %>
			</div>
		<% end %>
		<p><%= translate("Wins") + ": #{@team.wins} · " + \
			translate("Losses") + ": #{@team.losses}" %></p>
		<div><%= translate("Total points") + ": #{@team.points}" %></div>
	</div>
</div>
