<!-- sports teams -->

<div id="card">
	<div align="center">
		<p><%= @team.name %></p>
		<p><%= translate("Wins") + ": #{@team.wins} · " + \
			translate("Losses") + ": #{@team.losses}" %></p>
	</div>
</div>