<!-- tabs -->

<div id="card">
	<div align="center">
		<div>
			<%= link_to image_tag(tab.icon, size: "50x50", id: :tab_icon), tab_path(tab) %>
		</div>
		
		<div>
			<%= link_to text_shown(tab, :name), tab_path(tab) %>
		</div>
		
		<% if current_user.admin and tab.approved.nil? %>
			<% if tab.sponsored and tab.company %>
				<p>
					<%= User.find(tab.user_id).name.capitalize +
						" requested verification of their company, " + tab.company %>
				</p>
			<% end %>
			<%= render "tabs/approve_deny", tab: tab %>
		<% end %>
	</div>
</div>