<!-- tabs -->

<div id="card">
	<div align="center">
		<div>
			<%= link_to image_tag(tab.icon, size: "50x50", id: :tab_icon), tab_path(tab) %>
		</div>
		
		<div>
			<%= link_to tab.name, tab_path(tab) %>
		</div>
		
		<% if current_user.admin and tab.approved.nil? %>
			</br><%= render "tabs/approve_deny", tab: tab %>
		<% end %>
	</div>
</div></br>