<!-- tabs -->

<h2 align="center">
	<%= link_to image_tag(tab.icon, size: "35x35", id: :user_header_icon), tab_path(tab) %>
	<% if defined? item %>
		<%= tab.name.capitalize + "'s " + translate(item) %>
	<% else %>
		<%= tab.name.capitalize %>
	<% end %>
</h2></br>