<!-- feedbacks -->

<p>
	<%= f.text_area :review, placeholder: translate("Add a review..."), class: "form-control" %>
</p>
<%= f.submit translate("Review"), class: "btn btn-default btn-lg btn-block" %>