<!-- subtabs -->

<h2 align="center">
	<%= link_to image_tag(subtab.icon, size: "35x35", id: :user_header_icon), tab_subtab_path(subtab.tab, subtab) %>
	<% if defined? item %>
		<%= subtab.name.capitalize + " " + translate(item) %>
	<% else %>
		<%= subtab.name.capitalize %>
	<% end %>
</h2></br>