<!-- subtabs -->

<% if @subtabs.present? %>
	<div align="center">
		<%= link_to new_tab_subtab_path(@tab), class: "btn btn-default btn-lg" do %>
			<%= transalte("Create a subtab") %> <span class="glyphicon glyphicon-plus-sign"></span>
		<% end %>
	</div></br>
	
	<%= render "tabs/grid", tabs: @subtabs %>
	
<% else %>
	<div id="card">
		<div align="center">
			No user created subtabs have been approved yet.
			Click <%= link_to "here", new_tab_subtab_path(@tab) %> to create one.
		</div>
	</div>
<% end %>