<!-- posts -->

<% if post.image.url %>
	</br><div align="center">
		<%= link_to image_tag(post.image, id: :standard_post_image), post_path(post) %>
	</div></br>
<% end %>

<% if post.body.present? or post.hashtags.present? %>
	<p align="center" id="post_body_text">
		<% if current_user and current_user.english and post.english_version %>
			<% body = post.english_version %>
		<% else %>
			<% body = post.body %>
		<% end %>
		
		<% for word in body.split(' ') %>
			<%= render "posts/embed", word: word %>
		<% end %>

		<% post.hashtags.each do |tag| %>
			<%= link_to tag.tag, tagged_path(tag.tag) %>
			<%= " " %>
		<% end %>
	</p>
<% end %>