<div id="card">
	<div align="center"><%= link_to post.title, post_path(post) %></div>
	
	<% if post.image %>
		<div align="center"><%= image_tag post.image %></div>
	<% end %>
	
	<p align="center"><%= post.body %></p>
</div></br>