<% if post.image %>
	<div align="center"><%= image_tag post.image %></div>
<% end %>

<p align="center"><%= post.body %>

	<% post.hashtags.each do |tag| %>
		<%= link_to tag.tag, tagged_path(tag.tag) %> 
	<% end %>

</p>