<%= form_for @post, html: {multipart: true, "data-ajax" => false} do |f| %>
	<div id="card">
		<p>
			<%= f.text_area :body, placeholder: "Start a thread..." %>
		</p>
		<p>
			<%= f.submit "Post" %>
		</p>
	</div>
	</br>
<% end %>
