<!-- posts -->

<% if post.pictures.present? or post.image.url %>
</br><div align="center">
	<% if post.pictures.present? %>
		<% if post.title.present? %>
			<h3 align="center">
				<%= link_to text_shown(post, :title), post_path(post) %>
			</h3></br>
		<% end %>
		<% if @showing_post or post.pictures.size < 2 %>
			<% for picture in post.pictures %>
				<%= link_to image_tag(picture.image, id: :standard_post_image), post_path(post) %>
			<% end %>
		<% else %>	
			<div class="container-fluid" align="center">
				<div class="row">
				<% num = 0 and for picture in post.pictures %>
					<div class="col-xs-6">
						<%= link_to image_tag(picture.image, id: :standard_post_image),
							post_path(post) if num < 2 %>
						<% num += 1 %>
					</div>
				<% end %>
				</div>
			</div>
		<% end %>
	<% elsif post.image.url %>
		<%= link_to image_tag(post.image, id: :standard_post_image), post_path(post) %>
	<% end %>
</div>
<% end %>