<% if @post %>
	<%= render "posts/card", post: @post %>

	<% @comments.each do |comment| %>
		<%= render "comments/card", comment: comment %>
	<% end %>

	<%= render "comments/new" if current_user %>
<% else %>
	<div id="card">
		<div align="center">
			This post no longer exists.
		</div>
	</div>
<% end %>

</br>