/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

$card_width: 94.5%;
$link_color: rgb(225, 225, 225);

@mixin card($box_shadow) {
	border: 1px solid $link_color;
	box-shadow: 0px 1px 2px $box_shadow;
	position: relative;
	padding: 15px 7.5px;
	background: white;
	max-width: 550px;
	margin: 0 auto;
	margin-bottom: 12.5px;
	width: $card_width;
}

#card {
	@include card(rgb(200, 200, 200));
}

#notice_card {
	@include card(rgb(50, 175, 225));
}

#error_card {
	@include card(red);
}

html {
	background: rgb(245, 245, 245);
}

#main {
	background: rgb(245, 245, 245);
}

#nav {
	background: rgb(230, 230, 230);
}

#content {
	padding-top: 75px;
	position: relative;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#top_right {
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 14px;
}

.form_label_text {
	padding-left: 2.5px;
	padding-bottom: 2.5px;
}

#footer_spacing {
	padding-bottom: 100px;
}

#large_button {
	width: $card_width;
	max-width: 550px;
	margin: 0 auto;
}

#standard_img {
	width: 80%;
	max-width: 590px;
}
