// Place all the styles related to the article controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#title_of_article {
	margin: 10px auto;
	width: 85%;
}

#body_of_article {
	text-align: justify;
	margin: 0 auto;
	width: 85%;
}

#short_article_body {
	margin: 0 auto;
	width: 85%;
}

#ad_text {
	margin-bottom: 5px;
}

#ad_image {
	margin: 5px 0px;
}

#article_image {
	margin: 0 auto;
	width: 95%;
}

#article_content_container {
	margin: 35px 0px;
}