// Place all the styles related to the features controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$info_color: rgb(190, 190, 190);

@mixin feature_link {
	color: $info_color;
	font-size: 10px;
}

#feature_turned_on {
	color: black;
}

#feature_turned_off {
	color: $info_color;
}

#generic_feature_link {
	@include feature_link;
}

#inquire_link {
	@include feature_link;
	padding: 9px;
}

#days_left_clock {
	@include feature_link;
	padding-left: 7.5px;
}

#days_left_number {
	@include feature_link;
	padding-left: 7.5px;
}

#review_stars_link {
	@include feature_link;
	padding-left: 7.5px;
}

#event_going_link {
	@include feature_link;
	padding-left: 7.5px;
}

#feature_links_table {
	position: absolute;
	margin: auto;
	top: 20%;
}

.feature_row_spacing {
	padding-bottom: 5px;
}

#card_feature_side_border {
	border-left: 1px solid rgb(225, 225, 225);
	display: inline-block;
	position: absolute;
	top: -0.25px;
	right: 0px;
	width: 25px;
	height: 100.5%;
}
