// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$info_color: rgb(190, 190, 190);

#standard_post_image {
	width: 95%;
}

#post_body_text {
	margin: 25px 0px;
}

.card_link {
	color: $info_color;
	font-size: 10px;
}

.top_right_link {
	color: $info_color;
	font-size: 10px;
	position: absolute;
	right: 20px;
	top: 10px;
}

.top_left_link {
	color: $info_color;
	font-size: 10px;
	position: absolute;
	left: 20px;
	top: 10px;
}

.bottom_right_link {
	color: $info_color;
	font-size: 10px;
	position: absolute;
	right: 20px;
	bottom: 10px;
}

.bottom_left_link {
	color: $info_color;
	font-size: 10px;
	position: absolute;
	left: 20px;
	bottom: 10px;
}

.bottom_center_right_link {
	color: $info_color;
	font-size: 10px;
	position: absolute;
	right: 60px;
	bottom: 10px;
}

.bottom_center_left_link {
	color: $info_color;
	font-size: 10px;
	position: absolute;
	left: 75px;
	bottom: 10px;
}

.bottom_center_center_left_link {
	color: $info_color;
	font-size: 10px;
	position: absolute;
	left: 105px;
	bottom: 10px;
}

.top_center_right_link {
	color: $info_color;
	font-size: 10px;
	position: absolute;
	right: 100px;
	top: 10px;
}

.top_center_center_right_link {
	color: $info_color;
	font-size: 10px;
	position: absolute;
	right: 135px;
	top: 10px;
}

.bottom_left_link_table {
	position: absolute;
	left: 20px;
	bottom: 8px;
	column-gap: 10px;
}

.bottom_right_link_table {
	position: absolute;
	right: 20px;
	bottom: 8px;
	column-gap: 10px;
}

.top_right_link_table {
	position: absolute;
	right: 20px;
	top: 8px;
	column-gap: 10px;
}

.top_left_link_table {
	position: absolute;
	left: 20px;
	top: 8px;
	column-gap: 10px;
}

.link_table_spacing {
	padding-right: 5px;
}