// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$info_color: rgb(190, 190, 190);
$x_right_gap: 30px;
$x_left_gap: 30px;

@mixin standard_link {
	color: $info_color;
	font-size: 10px;
	position: absolute;
}

#standard_post_image {
	width: 85%;
}

#post_body_text {
	margin: 25px 0px;
	width: 85%;
}

#post_content {
	margin: 50px 0px;
}

.card_link {
	color: $info_color;
	font-size: 10px;
}

.top_right_link {
	@include standard_link;
	right: $x_right_gap;
	top: 10px;
}

.top_left_link {
	@include standard_link;
	left: $x_left_gap;
	top: 10px;
}

.bottom_right_link {
	@include standard_link;
	right: $x_right_gap;
	bottom: 10px;
}

.bottom_left_link {
	@include standard_link;
	left: $x_left_gap;
	bottom: 10px;
}

.bottom_left_link_table {
	position: absolute;
	left: $x_left_gap;
	bottom: 8px;
	column-gap: 10px;
}

.bottom_right_link_table {
	position: absolute;
	right: $x_right_gap;
	bottom: 8px;
	column-gap: 10px;
}

.top_right_link_table {
	position: absolute;
	right: $x_right_gap;
	top: 8px;
	column-gap: 10px;
}

.top_left_link_table {
	position: absolute;
	left: $x_left_gap;
	top: 8px;
	column-gap: 10px;
}

.link_table_spacing {
	padding-right: 5px;
}