// Place all the styles related to the sports_matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#who_won_header {
	font-size: 20px;
	padding-bottom: 10px;
}

#who_won_button_table {
	margin-bottom: 10px;
}