// Place all the styles related to the tabs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tab_icon {
	margin-bottom: 5px;
}

#tab_description {
	margin-top: 5px;
}

#top_right_below_nav {
	position: fixed;
	right: 25px;
	top: 75.5px;
}