// Place all the styles related to the tabs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tab_icon {
	margin-bottom: 5px;
}

#tab_profile_icon {
	width: 200px;
	height: 200px;
	margin-top: 25px;
}

#tab_profile_name {
	padding-bottom: 10px;
}

#tab_description {
	margin-top: 5px;
}

#top_right_below_nav {
	position: absolute;
	right: 25px;
	top: 75.5px;
}

#top_right_tab_buttons {
	position: absolute;
	right: 10px;
	top: 10px;
}

#bottom_right_tab_link {
	position: absolute;
	right: 10px;
	bottom: 17.5px;
}