// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_profile_icon {
	width: 30%;
}

#log_out {
	position: absolute;
	top: 3px;
	right: 15px;
}

#user_listing_name {
	padding: 20px 0px;
}

#user_header_icon {
	margin-bottom: 5.5px;
}

#gallery_image {
	padding-bottom: 22.5px;
}