<!-- tips -->

<% if defined? tip and defined? kind \
	and not current_user.tips.exists? kind: kind \
	and (defined? top or defined? bottom) and (defined? right or defined? left) %>
	<script><%= render "tips/tip_clicked.js", kind: kind %></script>
	<% top ||= nil; bottom ||= nil; right ||= nil; left ||= nil %>
	<div class="tip_card" id="<%= kind %>" onclick="tip_clicked()"
		style="<%= inline_position(top, bottom, left, right) %>">
		<%= translate(tip) %>
	</div>
<% end %>
