<!-- loading_gifs -->

<% if all_items.present? and all_items.size > page_size %>
	<div align="center">
		<%= image_tag current_loading_gif, id: :loading_footer %>
	</div>
<% end %>

<div id="footer_spacing"></div>