<!-- shows all errors and notices in a card -->

<% flash.each do |name, message| %>
	<% case name %>
		<% when "win" %>
			<% card_type = "prize_won_card" %>
		<% when "notice"%>
			<% card_type = "notice_card" %>
		<% when "error" %>
			<% card_type = "error_card" %>
		<% else %>
			<% card_type = "card" %>
	<% end %>
	
	<div id="<%= card_type %>">
		<div align="center" id="<%= 'prize_won_notice' if name == 'win' %>">
			<%= translate message %>
		</div>
	</div>
<% end %>